@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
    font-weight: bold;
    color: beige;
}

.menu-item {
    @apply block px-4 py-2 hover:bg-gray-700;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
}

.product-card {
    border: 1px solid #ccc;
    padding: 16px;
    margin: 16px;
    text-align: center;
}

.product-image {
    @apply max-w-52 max-h-52 min-w-52 min-h-52 h-auto;
}

.product-card:hover .product-description {
    @apply text-stone-700 underline;
}

.product-price {
    @apply font-semibold text-emerald-500;
}

.product-description {
    @apply font-semibold max-w-64 text-left;
}

.product-description::first-letter {
    text-transform: uppercase;
}

.product-category {
    @apply max-w-52 break-words font-extrabold text-left;
}

.product-title {
    @apply max-w-52 break-words font-extrabold text-left
}

.product-rating {
    @apply max-w-52 break-words font-extrabold text-left;
}

.primary-footer {
    @apply flex space-x-2 p-2 bg-gray-800 text-white;
}
